{% extends "JAGUARETEKAA/layout.html" %}
{% load static %}

{% block body %}
 <div class="container">
  <div class="row">
  	<div class="col">
  		<img src="{% static 'JAGUARETEKAA/img/ecommerce.png' %}">
  	</div>
  	<div class="col">
    	<p class="text-faded">En JAGUARETE KAA S.A.A nos esforzamos por
        Atraer: provoca que tu público ideal conozca tu empresa, por medio de contenidos adecuados a sus intereses. Además, crea formas de comunicación fáciles con las que se relaciona desde el primer momento.

        Interactuar: es tu oportunidad para conocer y centrarte en la necesidad de cada persona interesada, donde le ofreces soluciones relevantes y personalizadas.

        Deleitar: una vez que das la solución específica, conseguirás que el cliente satisfecho se fidelice y se convierta en un embajador de la marca.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		</p>  
	</div>
  </div>
</div>

{% endblock %}