body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/ecommerce.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

.text-faded {
  color: rgba(255, 255, 255);
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}